[Adblock Plus 2.0]
! Title: adblock-dns-config (Internal Usage DNS Filtering)
! Last Modified: %timestamp%
! Homepage: https://github.com/arfshl/adblock-dns-config
! Description: My User Filter
! Expires: 1 days

! adblock-dns-config (Ads+Tracker, Security, Tor2Web, Unblock, Element Filter)
%include https://raw.githubusercontent.com/arfshl/adblock-dns-config/main/my-filter/adblock.txt%

%include https://raw.githubusercontent.com/arfshl/adblock-dns-config/main/my-filter/dns.txt%

%include https://raw.githubusercontent.com/arfshl/adblock-dns-config/main/my-filter/security.txt%

%include https://raw.githubusercontent.com/arfshl/adblock-dns-config/main/my-filter/tor2web.txt%

%include https://raw.githubusercontent.com/arfshl/adblock-dns-config/main/my-filter/unblock.txt%