[Adblock Plus 3.13] 
! Title: adblock-dns-config (Unified Reccomendation DNS Filter For uBlock Origin)
! Last Modified: %timestamp% 
! Homepage: https://github.com/arfshl/adblock-dns-config 
! Description: Unifies my personal filter and reccomended dns filter, updated every hour, use with your own risks
! Expires: 1 days 

! adblock-dns-config (Ads+Tracker, Security, Tor2Web, Unblock)
%include https://raw.githubusercontent.com/arfshl/adblock-dns-config/main/my-filter/dns.txt% 

%include https://raw.githubusercontent.com/arfshl/adblock-dns-config/main/my-filter/security.txt%

%include https://raw.githubusercontent.com/arfshl/adblock-dns-config/main/my-filter/tor2web.txt% 

%include https://raw.githubusercontent.com/arfshl/adblock-dns-config/main/my-filter/unblock.txt%

! HaGeZi Threat Intelligence Feeds
%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/tif.txt%

! HaGeZi Most Abused TLDs
%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/spam-tlds.txt%

! AdBlockID
%include https://raw.githubusercontent.com/realodix/AdBlockID/main/dist/adblockid.adfl.txt%

! Browse Websites Without Logging In
%include https://raw.githubusercontent.com/DandelionSprout/adfilt/master/BrowseWebsitesWithout
LoggingIn.txt%
