[Adblock Plus 3.13] 
! Title: personal-blocklist (Unified Reccomendation DNS Filter For uBlock Origin)
! Last Modified: %timestamp% 
! Homepage: https://github.com/arfshl/personal-blocklist 
! Description: Unifies my personal filter and reccomended dns filter, updated every hour, use with your own risks
! Expires: 1 days 

! personal-blocklist (Ads+Tracker, Security, Tor2Web, Unblock)
%include https://raw.githubusercontent.com/arfshl/personal-blocklist/main/my-filter/dns.txt% 

%include https://raw.githubusercontent.com/arfshl/personal-blocklist/main/my-filter/security.txt%

%include https://raw.githubusercontent.com/arfshl/personal-blocklist/main/my-filter/tor2web.txt% 

%include https://raw.githubusercontent.com/arfshl/personal-blocklist/main/my-filter/unblock.txt%

! HaGeZi Multi Pro
%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/pro.txt%

! HaGeZi Threat Intelligence Feeds (Domain+IPs)
%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/tif.txt%

! HaGeZi Most Abused TLDs
%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/spam-tlds-ublock.txt%

! AdBlockID
https://raw.githubusercontent.com/realodix/AdBlockID/main/dist/adblockid.adfl.txt

! Browse Websites Without Logging In
%include https://raw.githubusercontent.com/DandelionSprout/adfilt/master/BrowseWebsitesWithout
LoggingIn.txt%
