[Adblock Plus 2.0] 
! Title: personal-blocklist (Unified Reccomendation DNS Filter For AdGuard Home)
! Last Modified: %timestamp% 
! Homepage: https://github.com/arfshl/personal-blocklist 
! Description: Unifies my personal filter and reccomended dns filter, updated every hour, use with your own risks
! Expires: 1 days 

! personal-blocklist (Ads+Tracker, Security, Tor2Web, Unblock)
%include https://raw.githubusercontent.com/arfshl/personal-blocklist/main/my-filter/dns.txt% 

%include https://raw.githubusercontent.com/arfshl/personal-blocklist/main/my-filter/security.txt%

%include https://raw.githubusercontent.com/arfshl/personal-blocklist/main/my-filter/tor2web.txt% 

%include https://raw.githubusercontent.com/arfshl/personal-blocklist/main/my-filter/unblock.txt%

! HaGeZi Multi Pro
%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/pro.txt%

! HaGeZi Threat Intelligence Feeds (Domain+IPs)
%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/tif.txt%

%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/tif-ips.txt%

! HaGeZi Most Abused TLDs
%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/spam-tlds.txt%

! HaGeZi Badware Hoster
%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/hoster.txt%

! ublock Origin - Badware risks
%include https://raw.githubusercontent.com/AdguardTeam/HostlistsRegistry/refs/heads/main/filters/security/filter_50_UblockBadwareRisks/filter.txt

! HaGeZi Dynamic DNS
%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/dyndns.txt%

! HaGeZi Native Tracker
%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/native.amazon.txt%

%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/native.apple.txt%

%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/native.huawei.txt%

%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/native.winoffice.txt%

%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/native.samsung.txt

%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/native.tiktok.txt%

%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/native.lgwebos.txt

%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/native.roku.txt%

%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/native.vivo.txt

%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/native.oppo-realme.txt%

%include https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/native.xiaomi.txt%
